html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


tr:hover .table-edit-button {
    opacity: 1;
}

.table-edit-button {
    opacity: 0
}

.btn:focus {
    box-shadow: none !important;
}